.titles {
	text-align:center;
	text-transform:uppercase;
	padding:20px 0 60px;
	h1 {
		font-size: 70px;
	}
	h3 {
		font-size: 30px;
	}
}
.logo {
	margin-top:30px;
}
body {
	background: #fbfafa;
	
}
.covers {
	margin-top:60px;
	margin-bottom:60px;
}
.quote,
.readnow {
	max-width:850px;
	margin:0 auto;
}
.imgs {
	text-align:center;
}
.elbig {
	margin:100px 0;
}
.readnow {
	margin-bottom:60px;
	margin-top:60px;
	h4 {
		margin-bottom: 30px;

		line-height: 25px;
	}
}
.quote {
	h2 {
		line-height: 45px;
	}
	p {
		margin-bottom: 30px;
	}
}

#buy,
#buy2 {
	cursor:pointer;
}
